In [86]:
'''Write a Python function to find the maximum of three numbers Sample input:
34,12,7'''

'Write a Python function to find the maximum of three numbers Sample input:\n34,12,7'

In [25]:

def maximum(a, b, c):
    list = [a, b, c]
    return max(list)
a = 2
b = 4
c = 7
print(maximum(a, b, c))

7

In [42]:
'''Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '''

'Write a Python function to find the most frequent item in a list of numbers.\nSample input: 2, 3, 4, 2, 5, 2 Sample output: 2 '

In [63]:

def most_frequent(List):
 List = [2, 1, 2, 2, 1]
 return max(set(list),key=list.count)
print(most_frequent(List))

2

In [64]:
'''Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd '''

'Write a Python program using for loop that will iterate from 1 to 15. For each\niteration, check if the current number is odd or even, and display the message\nto the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-\neven …. 15-odd '

In [71]:
for a in range(1,10):
  if(a%2==0):
     print(a,'=even')
  else:
     print(a,'=odd')

1 =odd
2 =even
3 =odd
4 =even
5 =odd
6 =even
7 =odd
8 =even
9 =odd

In [73]:
'''Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15'''

'Write a Python function to find the sum of squares of the numbers in a list.\nSample input: 2,1,3,1 Sample output: 15'

In [76]:
list = [3, 5, 7, 9, 11]
res = sum([i**2 for i in list])
print("The sum of squares of list is : " + str(res))

The sum of squares of list is : 285

In [78]:
'''Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36. '''

'Write a Python function that takes a positive integer and returns the sum of\nthe cube of all the positive integers smaller than the specified number.\nSample input: 4 Sample output: 36. '

In [91]:
def sumOfSeries(n):
    sum = 0
    for i in range(1, n + 1):
        sum += i * i*i
    return sum
n = 3
print(sumOfSeries(n))

36

In [84]:
'''Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8 '''

'Write a Python function called exponent(base,exp) that returns an integer\nvalue of base raises to the power of exp. Sample input: Enter the base: 2\nEnter the exponent: 3 Sample output: 8 '

In [144]:
base = 5
exponent = 2
res = pow(base, exponent)
print("Answer = " + str(res))

Answer = 25

In [123]:
'''10.Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6'''

'10.Write a Python function to calculate the factorial of a number (a nonnegative\ninteger). The function accepts the number as an argument. Sample input: 3\nSample output: 6'

In [134]:
def factorial(n):
    return 1 if (n==1 or n==0) else n * factorial(n - 1)
num = 7
print("Factorial of",num,"is",factorial(num))

Factorial of 7 is 5040

In [135]:
'''Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz'''

'Write a Python program which iterates from 1 to 10. For multiples of 2, print\n“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For\nnumbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:\nnumbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9\nFizzBuzz'

In [140]:
for i in range(1,10):
  if i%2==0:
    print("fizz",i)
  if i%5==0:
    print("buzz",i)
  if i%2==0 and i%5==0:
    print("frizzbuzz",i)

fizz 2
fizz 4
buzz 5
fizz 6
fizz 8

In [141]:
'''Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'''

'Write a Python function to accept a string value from the user and display the\ncount of each character in that string. Sample input: Enter a string value:\nassembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1'

In [172]:
count = 0

my_string = "Programiz"
my_char = "r"

for i in my_string:
    if i == my_char:
        count += 1

print(count)

2

In [160]:
'''Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5'''

'Write a Python function to convert temperatures to and from Celsius\nFahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=\ntemperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41\nSample output: Temperature in Celsius =5'

In [154]:


def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius
fahrenheit = 100
celsius = fahrenheit_to_celsius(fahrenheit)
print(f"{fahrenheit} degrees Fahrenheit is equal to {celsius} degrees Celsius.")

100 degrees Fahrenheit is equal to 37.77777777777778 degrees Celsius.